.post{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border: 1px solid black;
}
.post_content{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 15px;
}
.post_btns{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.post_btns button{
    font-size: 30px;
    flex: 0 1 40%;
}
.post_input{
    font-size: 25px;
}
button.deleteFully{
    font-size: 40px;
    margin: 20px;
}
select{
    font-size: 25px;
    margin: 20px;
}